.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-radius: 0px;
    background-color:  #f5f8fa;
}

.input-group-addon{
    background-color: #808080;
    border: 1px solid #808080;
    color: #f5f8fa;
}

.panel-default {
    border-color: #808080;
}
.panel-default > .panel-heading {
    color: #f5f8fa;
    background-color: #808080;
    border-color: #808080;
    background-image: -webkit-linear-gradient(top,#808080 0,#808080 100%);
    background-image: -o-linear-gradient(top,#808080 0,#808080 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#808080),to(#808080));
    background-image: linear-gradient(to bottom,#808080 0,#808080 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #808080;
    border: 1px solid #808080;
    border-bottom-color: transparent;
    color: #f5f8fa;
}

.form-control {
    border: 1px solid #808080;
}

.table-bordered {
    border: 1px solid #808080;
}

.btn-default, .btn-primary {
    border-color: #808080;
}

.btn-default:hover, .btn-primary:hover {
    border-color: #808080;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #808080;
}

select:active, select:hover {
  outline-color: #808080;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: lightgrey;
}

.nav-tabs {
    border-bottom: 1px solid #808080;
}

.navbar-inverse .navbar-brand:hover {
    color: #808080;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #808080;
}